.footer-logo {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-logo img {
    width: 40px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin: 0.5rem 0;
}

.logos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    display: flex;
    background-color: #f8f8f8;
    text-align: left;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;

}

.footer-content-logos a img{
    width: 35px;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}