.register-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
    padding: 10% 0;
    flex-wrap: wrap;
}

.register-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}


.register-button-container {
    display: flex;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}