.user-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 2rem;
}

.user-name-image {
  display: flex;
  flex-wrap: wrap;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  align-content: center;

}

.user-name {
  font-size: 1rem;
  margin: 10px;
}

.user-image-before-dye-container {
  margin: 50px;
}

.user-image-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.dye-button-container {
  display: flex;
  justify-content: center;
}

.uploaded-image {
  width: 250px;
}

.user-image-after-dye {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.error-text {
  color: red;
}

.user-images-container {
  display: flex;
  flex-wrap: wrap;
}

.user-images {
  width: 250px;
}

.update-user-data {
  margin-left: auto;
  margin-right: 20px;
}